package view

import (
	"gtmx/src/server/routes"
	"gtmx/src/database/model"
)

templ EditSection(section model.Section) {
	<div class="text-center">
		Edit New Section
	</div>
	<form
		action={ templ.URL(PathReplaceId(routes.UPDATE_SECTION, section.Id)) }
		method="POST"
	>
		<div>
			<input type="text" name="name" placeholder="Name" value={ section.Name } class="input input-bordered w-full max-w-xs"/>
		</div>
		<button class="btn input-bordered">Save</button>
	</form>
}
