package view

import (
	"gtmx/src/model"
	"gtmx/src/server/routes"
)

templ IndexVariant(variants []model.Variant) {
	<div class="text-right">
		<a href={ templ.URL(routes.GetPath(routes.NEW_VARIANT)) }><button class="btn btn-primary">New Variant</button></a>
	</div>
	for _, variant := range variants {
		<h1>Variant: { variant.Name }</h1>
	}
}
