package view

import (
	"fmt"
	"gtmx/src/database/model"
)

templ ShowVariant(variant model.Variant) {
	<div class="text-center">
		<h1>Variant: { variant.Name }</h1>
		<h1>Price: { fmt.Sprintf("%.2f", variant.Price) }</h1>
	</div>
}
