package category

import (
	"gtmx/src/view/layout"
	"gtmx/src/database"
)

templ IndexView(categories []database.Category) {
	@layout.Base() {
		<div class="text-right">
			<a href="/category/new"><button class="btn btn-primary">New Category</button></a>
		</div>
		for _, category := range categories {
			<h1>Category: { category.Name }</h1>
		}
	}
}
