package variant

import (
	"gtmx/src/database"
	"gtmx/src/server/routes"
)

templ IndexView(variants []database.Variant) {
	<div class="text-right">
		<a href={ templ.URL(routes.GetPath("new-variant")) }><button class="btn btn-primary">New Variant</button></a>
	</div>
	for _, variant := range variants {
		<h1>Variant: { variant.Name }</h1>
	}
}
