package auth

import (
	"gtmx/src/view/layout"
)

templ RegisterView() {
	@layout.Login() {
		<div class="text-center">
			Register
		</div>
		<form action="/signin" method="POST">
			<div>
				<input type="email" name="email" placeholder="Email" class="input input-bordered w-full max-w-xs"/>
				<input type="password" name="password" placeholder="Password" class="input input-bordered w-full max-w-xs"/>
			</div>
			<button class="btn input-bordered">Sign In</button>
		</form>
	}
}
